<ul class="nav">
        <li class="active">
            <a href="/user/dashboard">
                <i class="ti-panel"></i>
                <p>Booking</p>
            </a>
        </li>
        <li >
            <a href="/user/dashboard">
                <i class="ti-panel"></i>
                <p>Booking List</p>
            </a>
        </li>
        <li >
            <a href="/user/dashboard">
                <i class="ti-panel"></i>
                <p>Payment</p>
            </a>
        </li>
        <li >
            <a href="/user/dashboard">
                <i class="ti-panel"></i>
                <p>Profile settings</p>
            </a>
        </li>
</ul>