<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://vpageinc.com">
                        Vpageinc
                    </a>
                </li>
                <li>
                    <a href="http://vpageinc.com">
                    Blog
                    </a>
                </li>
                <li>
                    <a href="http://vpageinc.com/">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://vpageinc.com">Fly</a>
        </div>
    </div>
</footer>