<div class="sidebar" data-background-color="white" data-active-color="danger">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="/user/dashboard" class="simple-text">
				Fly
			</a>
		</div>
		<ul class="nav">
			<li class="active">
				<a href="/user/dashboard">
					<i class="ti-panel"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-view-list-alt"></i>
					<p>Master</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-user"></i>
					<p>Vendor</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-face-smile"></i>
					<p>Customer</p>
				</a>
			</li>
			
			<li>
				<a href="/user/dashboard">
					<i class="ti-clipboard"></i>
					<p>Reports</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-truck"></i>
					<p>Vehicle</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-eye"></i>
					<p>Employee</p>
				</a>
			</li>
			<li>
				<a href="/user/dashboard">
					<i class="ti-settings"></i>
					<p>Setting</p>
				</a>
			</li>
		
		</ul>
	</div>			
</div>

