<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!--fira sans google fonts--}}
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    {{!--normalize css--}}
    <link rel="stylesheet" href="/stylesheets/00_lib/00_normalize/normalize.css">
    {{!-- bootstrap --}}
    <link rel='stylesheet' href='/stylesheets/00_lib/01_bootstrap/bootstrap.css' />
    {{!-- author css --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    {{{body}}}

    {{!--jquery js --}}

    <script src="/javascripts/00_lib/00_jquery/jquery.js"></script>
    {{!-- boostrap js file--}}
    <script src="/javascripts/00_lib/01_bootstrap/bootstrap.js"></script>
  </body>
</html>
