<div class="container-fluid car-bg">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 auth-wrapper">
            <h2 class="text-center brandname">Fly Tourist Global Service Pvt Ltd</h2>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6 auth-form-wrapper">
                    <h3 class="brandname">Sign Up !</h3>
                    <form  method="post" action="/register">
                       <div class="form-group">
                           <lable class="auth-lable"  for="username">User Name</lable>
                           <input type="text" id="username" class="form-control" name="username" placeholder="eg: Yuvraj" required>
                       </div>
                       <div class="form-group">
                           <lable class="auth-lable" for="mobile-number">Mobile Number</lable>
                           <input type="text" id="mobile-number" class="form-control" name="mobile-number" placeholder="eg:9876543210" required>
                       </div>
                       <div class="form-group">
                           <lable class="auth-lable" for="email">Email</lable>
                           <input type="text" id="email" class="form-control" name="email"  placeholder="eg: helpdesk@vpageinc.com" required>
                       </div>
                       <div class="form-group">
                           <lable class="auth-lable" for="password">Password</lable>
                           <input type="password" id="password" placeholder="********" class="form-control" name="password" required>
                       </div>
                       <div class="form-group">
                           <lable class="auth-lable" for="confirm-password">Confirm Password</lable>
                           <input type="password" id="confirm-password" placeholder="*********" class="form-control" name="confirm-password">
                       </div>
                       <div class="form-group">
                           <lable class="auth-lable">
                               <input type="checkbox"> I Agree to <span >
                                   <a href="#" class="brand-secondary">Terms of Service</a>
                                   </span> and <span ><a href="#" class="brand-secondary">Privacy policy</a></span>
                           </lable>
                       </div>
                       <button type="submit" class="btn btn-info">Sign up</button>
                    </form>
                </div>
                <div class="col-xs-offset-3 col-xs-6">
                    <br>
                    <p>You Can also Sign in <a href="#" class="brand-secondary">here</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 testimonial-wrapper">
            testimonial wrapper ...
        </div>
    </div>
</div>