<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- semantic ui --}}
    <link rel='stylesheet' href='/stylesheets/lib/01_semantic/semantic.css' />
    {{!-- author css --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    {{!-- semantic js file--}}
    <script src="/javascripts/lib/01_semantic/semantic.js"></script>
  </body>
</html>
