<ul class="nav">
            <li class="active">
            <a href="/user/dashboard">
                <i class="ti-tag"></i>
                <p>Assign Driver</p>
            </a>
        </li>
        <li>
            <a href="/user/dashboard">
                <i class="ti-clipboard"></i>
                <p>Case History</p>
            </a>
        </li>
        <li>
            <a href="/user/dashboard">
                <i class="ti-alarm-clock"></i>
                <p>Booking status</p>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="ti-settings"></i>
                <p>Setting</p>
            </a>
        </li>
</ul>